<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('input[name="toggle"][type="button"]').addEventListener('click',function(event){
            fetch('/update-status/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}',
                },
                body: JSON.stringify({
                    'status': 'active',
                    
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => console.error('Error:', error));
      

        })
    })

</script>
<body>
    <input type="button" value="toggle" name="toggle"/>
</body>
</html>